body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  display: flex;
  flex-flow: column;
  width: 100%;
}

th.col-sm-1{
  width: 2.55%; 
}

th.col-sm-2 {
  width: 23.35%;
}

th.col-sm-3 {
  width: 29.7%;
}

th.col-sm-4 {
  width: 1%;
}

th.col-sm-5 {
  width: 15%;
}

th.col-sm-6 {
  width: 68%;
}